* {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    outline: none;
    text-decoration: none;
    outline: none;
    font-family: inherit;
    font-weight: 400;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #D06224;
    margin: 0;
}

ol,
ul,
li {
    list-style: none;
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a img {
    border: none;
}

button,
a {
    cursor: pointer;
    color: inherit;
}

textarea {
    resize: none;
}

button,
input,
textarea,
select {
    appearance: none !important;
    -webkit-appearance: none !important;
    border-radius: 0;
}

#root {
    display: flex;
    flex-wrap: wrap;
    /* height: 100vh; */
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
}

#root div {
    background-color: #E9C891;
    border-radius: 4px;
    border: 2px solid #AE431E;
    margin: 4px;
    animation: shadowAnim 5s infinite;
}

@keyframes shadowAnim {
    50% {
        box-shadow: 3px 4px #eee5d7;
    }
}


/* házi: minden div dögösen és ugyanúgy nézzen ki, kártyaszerűen